In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("salary_data_cleaned.csv")

In [3]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,max_salary,avg_salary,company_txt,State,Age,python,r_studio,spark,aws,excel
0,Senior Data Scientist,$109K - $175K (Glassdoor est.),Job Posting Title\r\nSenior Data Scientist\r\n...,3.2,Big Fish Games\r\n3.2,"Oakland, CA",501 to 1000 Employees,2002,Subsidiary or Business Segment,Video Games,...,175,142.0,Big Fish Games\r\n,CA,18,0,0,0,0,0
1,Data Scientist Technical Specialist,$93K - $153K (Glassdoor est.),Technology is constantly changing and our adve...,3.7,Peraton\r\n3.7,"Chantilly, VA",1001 to 5000 Employees,2017,Company - Private,Aerospace & Defense,...,153,123.0,Peraton\r\n,VA,3,0,0,0,0,0
2,Data Analyst,$40K - $73K (Glassdoor est.),This position will be responsible for the deve...,3.6,Bell Partners\r\n3.6,"Raleigh, NC",1001 to 5000 Employees,1976,Company - Private,Real Estate,...,73,56.5,Bell Partners\r\n,NC,44,0,0,0,0,0
3,Marketing Scientist I,$48K - $103K (Glassdoor est.),Valassis is a leader in the marketing technolo...,3.3,Valassis\r\n3.3,"Livonia, MI",1001 to 5000 Employees,1970,Company - Private,Advertising & Marketing,...,103,75.5,Valassis\r\n,MI,50,0,0,0,0,0
4,"Scientist, Product Development",$50K - $93K (Glassdoor est.),Summary:\r\nMetagenics is a global lifestyle m...,3.1,Metagenics\r\n3.1,"Gig Harbor, WA",201 to 500 Employees,1983,Company - Private,Health Care Services & Hospitals,...,93,71.5,Metagenics\r\n,WA,37,0,0,0,0,0

In [4]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'min_salary', 'max_salary',
       'avg_salary', 'company_txt', 'State', 'Age', 'python', 'r_studio',
       'spark', 'aws', 'excel'],
      dtype='object')

In [ ]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning'
    elif 'manager' in title.lower():
        return 'manager'
    elif ' director' in title.lower():
        return 'director'
    else:
        return 'na'
    

    
    #-----------------
    #job title and seniority
    
    ##Fix state los Angeles

In [ ]:
df['job_simplified'] =df['Job Title'].apply(title_simplifier)

In [ ]:
df.job_simplified.value_counts()

In [ ]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or'jenior' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

In [ ]:
df['seniority'] =df['Job Title'].apply(seniority)
df.seniority.value_counts()

In [ ]:
df.State.value_counts()

In [ ]:
df['desc_length'] =df['Job Description'].apply(lambda x:len(x))
df['desc_length']

In [ ]:
df[['min_salary','max_salary']]

In [ ]:
df.company_txt = df.company_txt.apply(lambda x:x.replace('\r\n',''))

In [ ]:
df['company_txt']

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.Rating.hist()

In [ ]:
df.avg_salary.hist()

In [ ]:
df.Age.hist()

In [ ]:
df.desc_length.hist()

In [ ]:
df.boxplot(column =['Age','avg_salary','Rating'])

In [ ]:
df.boxplot(column =['Rating'])

In [ ]:
df[['Age','avg_salary','Rating','desc_length']].corr()

In [ ]:
cmap =sns.diverging_palette(220,10,as_cmap = True)
sns.heatmap(df[['Age','avg_salary','Rating','desc_length']].corr(),vmax = .3,center = 0,cmap =cmap,
square=True,linewidth =.5,cbar_kws ={"shrink": .5})

In [ ]:
# Categorical Variables
df.columns

In [ ]:
df_categorical = df[['Location','Size','Industry','Sector','Revenue','company_txt','State','python','r_studio',
       'spark', 'aws', 'excel', 'job_simplified', 'seniority']]
print(df_categorical)

In [ ]:
for i in df_categorical.columns:
    cat_num =df_categorical[i].value_counts()
    print("Graph for %s: total =%d" %(i, len(cat_num)))
    chart=sns.barplot(x =cat_num.index,y =cat_num)
    chart.set_xticklabels(chart.get_xticklabels(),rotation =90)
    plt.show()

In [ ]:
for i in df_categorical[['Location','company_txt']].columns:
    cat_num =df_categorical[i].value_counts()[:20]
    print("Graph for %s: total =%d" %(i, len(cat_num)))
    chart=sns.barplot(x =cat_num.index,y =cat_num)
    chart.set_xticklabels(chart.get_xticklabels(),rotation =90)
    plt.show()

In [ ]:
df.columns

In [ ]:
pd.pivot_table(df,index='job_simplified',values ='avg_salary')

In [ ]:
pd.pivot_table(df,index=['job_simplified','seniority'],values ='avg_salary')

In [ ]:
pd.pivot_table(df,index='State',values ='avg_salary').sort_values('avg_salary',ascending = False)

In [ ]:
pd.pivot_table(df,index=['State','job_simplified'],values ='avg_salary').sort_values('State',ascending = False)

In [ ]:
#To make visible all rows
pd.options.display.max_rows
pd.set_option('display.max_rows',None)

In [ ]:
pd.pivot_table(df,index=['State','job_simplified'],values ='avg_salary',aggfunc='count').sort_values('State',ascending = False)

In [ ]:
pd.pivot_table(df[df.job_simplified == 'data scientist'],index=['State','job_simplified'],values ='avg_salary').sort_values('avg_salary',ascending = False)

In [ ]:
df.columns

In [20]:
#Salary rating, industry, sector, revenue, number of comp, hourly, employer provided,python,r,spark,aws,excel,desclen
df_pivots = df[['Rating','Industry','Sector','Revenue','python','r_studio','spark','aws','excel','avg_salary']]

In [22]:
for i in df_pivots:
    print(i)
    print(pd.pivot_table(df_pivots,index=i,values='avg_salary').sort_values('avg_salary',ascending =False))

Rating
        avg_salary
Rating
 2.1    125.840909
 4.4    123.765957
 4.5    120.868421
 2.4    119.750000
 4.8    119.147059
 3.6    118.746032
 5.0    118.500000
 1.0    118.500000
 4.7    118.368421
 4.9    117.483333
 3.2    116.125000
 4.1    115.574468
 2.5    115.500000
 4.2    115.453947
 3.4    114.194444
-1.0    113.850649
 3.3    113.800000
 3.8    113.000000
 4.6    112.592593
 2.7    111.666667
 3.7    110.494681
 4.3    107.300000
 3.5    106.500000
 3.9    105.802198
 4.0    105.306723
 2.6    105.200000
 2.8    102.750000
 3.0    102.215517
 3.1    102.187500
 2.9    101.900000
 2.0     93.500000
Industry
                                          avg_salary
Industry
Financial Analytics & Research            149.250000
Oil & Gas Exploration & Production        142.500000
Health, Beauty, & Fitness                 138.125000
Hotels, Motels, & Resorts                 136.500000
Media & Entertainment Retail Stores       133.625000
Metal & Mineral Manufacturing             128.500000
Home Furniture & Housewares Stores        128.500000
Energy                                    127.500000
Miscellaneous Manufacturing               126.833333
Video Games                               126.800000
Cable, Internet & Telephone Providers     124.500000
Food Production                           124.500000
Venture Capital & Private Equity          124.500000
Consumer Products Manufacturing           123.409091
Department, Clothing, & Shoe Stores       122.750000
News Outlet                               121.500000
Farm Support Services                     121.500000
Logistics & Supply Chain                  120.583333
Other Retail Stores                       119.850000
Casual Restaurants                        118.500000
Accounting                                118.150000
Education Training Services               118.090909
Insurance Agencies & Brokerages           118.000000
Health Care Products Manufacturing        118.000000
Computer Hardware & Software              117.751799
IT Services                               116.786458
Internet                                  115.826087
Construction                              115.500000
Research & Development                    114.333333
-1                                        114.230435
Financial Transaction Processing          114.050000
Advertising & Marketing                   113.894231
Express Delivery Services                 113.750000
Electrical & Electronic Manufacturing     113.562500
Architectural & Engineering Services      112.250000
Sports & Recreation                       112.000000
Utilities                                 112.000000
Colleges & Universities                   111.900000
Industrial Manufacturing                  111.500000
Lending                                   110.552632
Staffing & Outsourcing                    110.531250
Home Centers & Hardware Stores            109.750000
Food & Beverage Manufacturing             109.600000
Insurance Carriers                        109.337209
Health Care Services & Hospitals          109.250000
Automotive Parts & Accessories Stores     109.200000
Enterprise Software & Network Solutions   108.631868
Publishing                                108.250000
Telecommunications Services               107.833333
Wholesale                                 107.142857
Radio                                     107.000000
Grocery Stores & Supermarkets             106.750000
Banks & Credit Unions                     106.333333
Telecommunications Manufacturing          106.250000
Investment Banking & Asset Management     105.738095
Aerospace & Defense                       105.593750
Motion Picture Production & Distribution  104.500000
Health Fundraising Organizations          104.500000
Consulting                                104.354839
Transportation Management                 104.250000
Social Assistance                         103.071429
Biotech & Pharmaceuticals                 102.027273
Transportation Equipment Manufacturing    100.571429
Chemical Manufacturing                    100.250000
Federal Agencies                          100.066667
Food & Beverage Stores                     97.916667
Membership Organizations                   97.000000
K-12 Education                             96.250000
Talent & Modeling Agencies                 96.000000
Auto Repair & Maintenance                  96.000000
Brokerage Services                         94.500000
Veterinary Services                        93.500000
Wood Product Manufacturing                 93.500000
Building & Personnel Services              93.500000
TV Broadcast & Cable Networks              93.500000
Rail                                       93.500000
Asphalt Products Manufacturing             82.000000
Real Estate                                79.138889
Sector
                                    avg_salary
Sector
Travel & Tourism                    136.500000
Oil, Gas, Energy & Utilities        131.187500
Consumer Services                   129.200000
Agriculture & Forestry              123.000000
Finance                             118.640449
Restaurants, Bars & Food Services   118.500000
Accounting & Legal                  118.150000
Media                               116.541667
Retail                              115.368421
Information Technology              115.157596
-1                                  114.230435
Education                           113.944444
Transportation & Logistics          113.909091
Manufacturing                       113.041667
Telecommunications                  110.083333
Insurance                           109.902174
Health Care                         109.250000
Business Services                   108.909938
Construction, Repair & Maintenance  105.750000
Aerospace & Defense                 105.593750
Arts, Entertainment & Recreation    104.000000
Non-Profit                          103.250000
Biotech & Pharmaceuticals           102.027273
Government                          100.066667
Real Estate                          79.138889
Revenue
                                  avg_salary
Revenue
$50 to $100 million (USD)         123.698413
$1 to $5 million (USD)            120.214286
$10+ billion (USD)                116.080508
$5 to $10 million (USD)           114.500000
-1                                114.007042
$25 to $50 million (USD)          113.361111
$5 to $10 billion (USD)           112.700000
$2 to $5 billion (USD)            112.600000
Unknown / Non-Applicable          111.521739
$100 to $500 million (USD)        109.937086
$1 to $2 billion (USD)            109.519608
Less than $1 million (USD)        108.763889
$10 to $25 million (USD)          108.430380
$500 million to $1 billion (USD)  107.480000
python
        avg_salary
python
1       115.517647
0       112.041519
r_studio
          avg_salary
r_studio
1         134.000000
0         112.230643
spark
       avg_salary
spark
1       115.02000
0       112.22693
aws
     avg_salary
aws
0    112.465096
1    109.366197
excel
       avg_salary
excel
1      113.614583
0      112.170384
avg_salary

ValueError: Grouper for 'avg_salary' not 1-dimensional

In [29]:
pd.pivot_table(df_pivots,index='Revenue',columns='python',values='avg_salary',aggfunc='count')

python                                0     1
Revenue
$1 to $2 billion (USD)             50.0   1.0
$1 to $5 million (USD)             22.0   6.0
$10 to $25 million (USD)           72.0   7.0
$10+ billion (USD)                102.0  16.0
$100 to $500 million (USD)        141.0  10.0
$2 to $5 billion (USD)             35.0   5.0
$25 to $50 million (USD)           34.0   2.0
$5 to $10 billion (USD)            45.0   NaN
$5 to $10 million (USD)            41.0   2.0
$50 to $100 million (USD)          58.0   5.0
$500 million to $1 billion (USD)   74.0   1.0
-1                                 68.0   3.0
Less than $1 million (USD)         69.0   3.0
Unknown / Non-Applicable          321.0  24.0

In [ ]:
from wordcloud import WordCloud,ImageColorGenerator,STOPWORDS
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize 
import nltk
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91720\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91720\AppData\Roaming\nltk_data...

In [ ]:
words = " ".join(df['Job Description'])

def punctuation_stop(text):
    """Removes punctuation and stop words"""
    filtered =[]
    stop_words = set(stopwords.words('english'))
    word_tokens =word_tokenize(text)
    for w in word_tokens:
        if w not in stop_words and w.isalpha():
            filtereda.append(w.lower())
    return filtered

words_filtered = punctuation_stop(words)
text =" ".join([ele for ele in words_filtered])

wc = WordCloud(background_color='white',random_state=1,stopwords=STOPWORDS,max_words =2000,wodth =800,height =1500)
wc.generate(text)

plt.figure(figsize=[10,10])
plt.imshhow(wc,interpolation='bilinear')
plt.axis('off')
plt.show